raw/
*.nii.gz
*.nii
*.tar
*.tar.gz
*.txt
*.mat
*.vtk
*.bvars
*.mif
*.log
derivatives/dticsd/sub-*
derivatives/pyafq/sub-*
derivatives/tractography/sub-*
freesurfer_subjects/sub-*
image/*
first/*
preproc/sub-*
preproc/test
